.kaminari_box{
  margin: 30px auto 10px;
  width: 550px;
  text-align: center;
  color: $main_color;
  font-size: 0.95em;
  

  .page{
    display: inline-block;
    margin: 0 3px;
    padding: 0px 5px;
    border-radius: 5%;
    background-color: $main_color ;
    color: #fff;
    text-align: center;
  }

  .next, .prev{
    display: inline-block;
    padding: 1px 5px;
    border-radius: 5%;
    background-color: $main_color ;
  }

  a {
    color: #fff ;
  }

  a:hover {
    color:  #800000 ;
  }

}