 <body>
 <div class="container">
  <section>

    <div class="searchbox_area">
        <form class="searchbox" action="">
            <input type="search"><i class="fa fa-search"></i>
        </form>
    </div>
    
  <table>
        <thead>
            <tr>
                <th scope="col">タイトル</th>
                <th scope="col">観た日</th>
            </tr>
        </thead>
        <tbody>
            <% @products.each do |product| %>
             <%= render partial: "product", locals: { product: product } %>
            <% end %>
        </tbody>
    </table>   

  </section>
</div>
</body>
</html>