 <body>
 <div class="container">
  <section>

    <div class="searchbox_area">
        <form class="searchbox" action="">
            <input type="search"><i class="fa fa-search"></i>
        </form>
    </div>
    
  <table>
        <thead>
            <tr>
                <th scope="col">タイトル</th>
                <th scope="col">観た日</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>ローグ・ワン</th>
                <td data-label="内容" class="txt">2017年01月4日</td>
            </tr>
            <tr>
                <th>Stand by me</th>
                <td data-label="内容" class="txt">1990年12月15日</td>
            </tr>
            <tr>
                <th>ファンタスティック・ビースト</th>
                <td data-label="内容" class="txt">2016年11月24日</td>
            </tr>
          <tr>
        </tbody>
    </table>   

  </section>
</div>
</body>
</html>